#game {
    padding-block: 3em;
    justify-content: center;
}

.container_IA {
    justify-content: center;
    align-items: center;
}

.container_IA img{
    width: 12em;
    margin-inline: auto;
}

.VS {
    font-family: var(--font-Jersey25);
    font-size: 5em;
    padding-block: 0.20em;
    justify-content: center;
    align-items: center;
    gap: 0.40em;
}

#result-mobile {
    font-family: var(--font-Jersey25);
    font-size: 2em;
    text-align: center;
    padding-block: 0.10em;
}

#result-desktop {
    opacity: 0;
    position: absolute;
    top: 3em;
    font-size: 0.40em;
}

.options {
    justify-items: center;
    align-items: center;
}

.options ul {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5em;
}

.options li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1.7em 0.60em;
    background-color: var(--color-message-p);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 4px rgb(146, 146, 146);
    transition: all 0.1s linear
}

.options li:hover {
    transform: translateY(-7px);
}

/* Botões não clicados */
.option-not-select {
    opacity: 0.5;
    pointer-events: none;
}

/* Botão que foi clicado */
.option-select {
    transform: translateY(-7px);
}

#optionsAI {
    padding-block: 3.6em;
}

#buttons {
    margin-block: 2em;
    margin-inline: auto;
    width: fit-content;
}

#buttons  .cta {
    padding: 0.30em;
}

#buttons p {
    font-size: 3em;
}