#scoreboard {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#scoreboard > p, #score {
    font-family: var(--font-Jersey25);
    font-size: 2em;
}

#scoreboard > p:first-child {
    color: var(--color-red);
}

#scoreboard > p:last-child {
    color: var(--color-blue);
}

#score p:first-child {
    color: var(--color-red);
}

#score p:last-child {
    color: var(--color-blue);
}