:root {
    --color-blue: #14A5FF;
    --color-red: #FD6565;

    --font-Jersey25: "Jersey 25", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}