:root {
    --color-blue: #14A5FF;
    --color-red: #FD6565;
    --collor-draw: #fdc065;
    --color-btn: #d2d2d2a9;
    --color-message-p: #DBDBDB;

    --font-Jersey25: "Jersey 25", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inital {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.initial_game {
    display: none;
}

body {
    padding: 1.5em;
}

.message_choosing {
    font-family: var(--font-Jersey25);
    color: var(--color-message-p);
    font-size: 1.5em;
}

.blue {
    color: var(--color-blue);
}

.red {
    color: var(--color-red);
}

.draw {
    color: var(--collor-draw);
}

/* Responsive */
@media screen and (min-width: 55em) {
    #game {
        display: grid;
        align-items: end;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin-inline: auto;
        padding-block: 7em;
    }

    .options {
        align-content: center;
        margin-bottom: 0.50em;
    }

    #optionsAI {
        padding-block: 0;
    }

    #result-desktop {
        position: initial;
    }

    #score {
        margin-right: 1.6em;
    }

    #scoreboard > p:first-child {
        font-size: 2em;
    }
}