#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

#menu h1 {
    font-family: var(--font-Jersey25);
    font-size: 5em;
    font-weight: 300;
    text-transform: uppercase;
}

.name_game:first-child {
    color: var(--color-blue);
}

.name_game:last-child {
    color: var(--color-red);
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 4px #a7a7a7;
}

.cta p {
    font-size: 4em;
    font-family: var(--font-Jersey25);
    text-transform: uppercase;
    color: var(--color-blue);
    padding-inline: 0.15em;
}