#menu {
    text-align: center;
}

#menu h1 {
    font-family: var(--font-Jersey25);
    font-size: 5em;
    font-weight: 300;
    text-transform: uppercase;
}

.name_game:first-child {
    color: var(--color-blue);
}

.name_game:last-child {
    color: var(--color-red);
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    border: none;
    outline: none;
    border-radius: 8px;
    padding-inline: 1em;
}

