#scoreboard {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#scoreboard > p, #score {
    font-family: var(--font-Jersey25);
    font-size: 2em;
}

#scoreboard > p:first-child {
    color: var(--color-red);
    font-size: 1.6em;
}

#scoreboard > p:last-child {
    color: var(--color-blue);
    text-transform: uppercase;
}

#score {
    margin-right: 1em;
}

#score p:first-child {
    color: var(--color-red);
}

#score p:last-child {
    color: var(--color-blue);
}

#score span {
    padding-inline: 0.10em;
}